---
layout: layouts/base.njk
---

{% set linkListItems = pagination.items %}

    {% include "partials/site-head.njk" %}
    
<div class="w-full max-w-full mx-auto my-auto">

  <div class="max-w-8xl mx-auto h-auto py-4 md:py-4 px-4 lg:px-12 xl:px-12 2xl:px-2 
      md:divide-fred md:divide-y md:divide-dashed md:divide-opacity-80 md:dark:divide-fgreen md:dark:divide-y md:dark:divide-dashed md:dark:divide-opacity-80">



{% block links %}
  {% include 'partials/link-feed.njk' %}
{% endblock links %}


{% for item in all %}
<article>
  <h2>{{ item.title }}</h2>
  <p>{{ item.description }}</p>
</article>
{% endfor %}



  </div>

</div>
