<div class="prose max-w-none dark:prose-dark col-span-6">
{% set sourceinside  %}{{ source }}{% endset %}
<div> {% renderFile "{{ source }}" %} </div>
<div> {% renderFile "./src/mpl-components-info/testing.md" %}  </div>
</div>