<div class="h-vsm w-full bg-gray-300 dark:bg-gray-500">
    </div>
    
<div class="w-full max-w-full mx-auto my-auto">

  <div class="w-full bg-bggray-dark dark:bg-bgblue">

    <div class="max-w-8xl mx-auto gap-4 h-auto py-4 md:py-4 px-4 lg:px-12 xl:px-12 2xl:px-2 ">

      <div class="grid grid-cols-12 divide-x-0 divide-gray-100">


        <div class="col-span-12 flex flex-row md:flex-col md:col-span-8 lg:col-span-8  py-4 md:py-4 lg:py-12">

        

          <div class="flex flex-row">

              <div class="max-w-[800px]">
                <h1 class="text-gray-800 dark:text-gray-100 text-4xl lg:text-5xl font-OpenSauceSans font-bold tracking-tighter min-w-8xl leading-vtight lg:leading-vtight pb:4 md:pb-8">
                <span class="text-fred leading-vtight font-Newsreader font-normal italic text-4xl lg:text-5xl dark:text-fgreen">Product Designer</span> 
                with a knack for solving <span class="text-fred leading-vtight font-Newsreader font-normal italic text-4xl lg:text-5xl dark:text-fgreen">high-impact</span>  problems. 
                </h1>

                <article class="prose max-w-none dark:prose-dark pt-8 pr-0 md:pr-8 lg:pr-12">
                {{ content | safe }}
                </article>
              </div>

              <div class="w-vsm h-full bg-gray-300 dark:bg-gray-500 invisible md:visible"></div>
          </div>

          

        


      </div>

 

        <div class="col-span-12 space-y-2 md:space-y-4 lg:space-y-10 md:col-span-4 lg:col-span-4 py-4 md:py-4 lg:py-12 md:pl-8 lg:pl-8 2xl:pl-0">


        

        <div>
        
          <p class="w-[200px] text-[12px] uppercase tracking-wide md:text-sm text-gray-600 dark:text-gray-300 font-bold font-inter py-4" > Latest Writing ↓ </p>

          <div class="pb-2 ">
            <a href="https://www.notion.so/blog" class=" pt-2 text-2xl border-b border-b-gray-300 dark:border-b-gray-700  md:hover:border-b hover:border-opacity-40 
                md:hover:border-b-fred md:dark:hover:border-b-fgreen font-bold tracking-tight font-OpenSauceSans text-fred dark:text-fgreen hover:text-fred dark:hover:text-fgreen md:text-2xl">
                Notion Blog
            </a>
          </div>

        </div>

        
        <div>

         <p class="w-[200px] text-[12px] uppercase tracking-wide md:text-sm text-gray-600 dark:text-gray-300 font-bold font-inter py-4" > Work in 3 Minutes </p>

        <div class="pb-2 ">
          <a href="https://www.notion.so/blog" class=" pt-2 text-2xl border-b border-b-gray-300 dark:border-b-gray-700  md:hover:border-b hover:border-opacity-40 
              md:hover:border-b-fred md:dark:hover:border-b-fgreen font-bold tracking-tight font-OpenSauceSans text-fred dark:text-fgreen hover:text-fred dark:hover:text-fgreen md:text-2xl">
              Proof of Work
          </a>
        </div>

        </div>

        <div>

        <p class="w-[200px] text-[12px] uppercase tracking-wide md:text-sm text-gray-600 dark:text-gray-300 font-bold font-inter py-4" > Work in 30 Minutes </p>

        <div class="pb-2 ">
          <a href="https://www.notion.so/blog" class=" pt-2 text-2xl border-b border-b-gray-300 dark:border-b-gray-700  md:hover:border-b hover:border-opacity-40 
              md:hover:border-b-fred md:dark:hover:border-b-fgreen font-bold tracking-tight font-OpenSauceSans text-fred dark:text-fgreen hover:text-fred dark:hover:text-fgreen md:text-2xl">
              Case Studies
          </a>
        </div>

        </div>


        <div>

        <p class="w-[200px] text-[12px] uppercase tracking-wide md:text-sm text-gray-600 dark:text-gray-300 font-bold font-inter py-4" > Colophon </p>

        <div class="pb-2 ">
          <a href="https://www.notion.so/blog" class=" pt-2 text-2xl border-b border-b-gray-300 dark:border-b-gray-700  md:hover:border-b hover:border-opacity-40 
              md:hover:border-b-fred md:dark:hover:border-b-fgreen font-bold tracking-tight font-OpenSauceSans text-fred dark:text-fgreen hover:text-fred dark:hover:text-fgreen md:text-2xl">
              How is this website is built?
          </a>
        </div>

      </div>




        </div>



      </div>

    </div>

  </div>