    
    
    
    
<div class="grid grid-cols-12 pt-8 divide-x divide-gray-200 dark:divide-gray-700">


    <div class="col-span-12 lg:col-span-10">

        <div class="grid grid-cols-12">

            {% for item in postListItems %}

            <div class="col-span-12 lg:col-span-6 xl:col-span-4 lg:pr-8 h-auto mb-4 md:mb-0 lg:h-128">

                

                
            
                <div class="h-vsm w-full bg-gray-200 dark:bg-gray-700 "></div> 

                <div class="pt-8 pb-1">
                    <a href="{{ item.url }}" class="pb-2 pt-2">
                        <picture class="w-full h-60 flex justify-center items-center rounded-sm overflow-hidden hover:opacity-80">
                            <img
                                src="{{ item.data.coverimage}}"
                                alt="{{ item.data.coverimagealt}}"
                                loading="lazy"
                                class="flex-shrink-0 min-w-full min-h-full"
                            />
                        </picture>
                    </a>
                </div>



                <div class="flex flex-row space-x-1 pt-4 pb-4">

                    <div class="">
                        <p class="text-sm font-OpenSauceSans font-bold text-gray-500 dark:text-gray-300">{{ item.date | readableDate }}</p>
                    </div>

                    <div class="">
                        <p class="text-sm  font-OpenSauceSans font-bold text-gray-500 dark:text-gray-300">/</p>
                    </div>

                    <div class="flex flex-row space-x-1">
                        {% for tag in item.data.tags | filterTagList %}

                        {%- if collections.tagList.indexOf(tag) != -1 -%}
                            {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                            <a href="{{ tagUrl | url }}" class="text-sm font-OpenSauceSans text-gray-500 hover:text-fred hover:font-italic dark:hover:text-fgreen dark:text-gray-300">{{ tag }}</a>
                            {% if loop.length - loop.index == 1 %} <p class="text-sm  font-OpenSauceSans text-gray-500 dark:text-gray-300">•</p> {% endif %}
                            {%- if loop.length - loop.index > 1 %}   {% endif -%}
                        {%- endif -%}

                        {% endfor %}
                    </div>
                    

                </div>

                

                <div class="pb-2 ">
                    <a href="{{ item.url }}" class=" pt-2 text-lg border-b border-b-gray-300 dark:border-b-gray-700  md:hover:border-b hover:border-opacity-40 md:hover:border-b-fred md:dark:hover:border-b-fgreen font-bold tracking-tight font-OpenSauceSans text-gray-800 dark:text-gray-100 hover:text-fred dark:hover:text-fgreen md:text-xl">{{ item.data.title }}</a>
                </div>
                <div class="">
                    <p class="pb-2 pt-2 text-sm  font-OpenSauceSans text-gray-700 dark:text-gray-200">{{ item.data.subtext }}</p>
                </div>
                
                

                

            </div>
            
            
            {% endfor %}
            
        </div>

    </div>


     <div class="col-span-12 lg:col-span-2 pl-8">

        <div class="text-xl font-bold font-OpenSauceSans text-fred dark:text-fgreen pb-4">
            <p> Filter by Tag </p>
        </div>

        <div class="flex flex-col">

        {% for tag in collections.tagList %}
            <div class="pb-2">
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="text-sm font-OpenSauceSans  md:hover:border-b hover:border-opacity-40 md:hover:border-b-fred md:dark:hover:border-b-fgreen text-gray-500 hover:text-fred hover:font-italic dark:hover:text-fgreen dark:text-gray-300">{{ tag }}</a>
            </div>
        {% endfor %}

        </div>

    </div>
     

    
</div>