<!-- add navigation and stuff-->

<div class="w-full max-w-full mx-auto my-auto bg-bggray-dark dark:bg-bgblue">




<div class="max-w-8xl mx-auto h-auto py-4 md:py-8 px-4 lg:px-12 xl:px-12 2xl:px-2">

<div class="">

<header class="flex flex-column md:flex-row content-center max-w-8xl mx-auto justify-between">


    <a href='/'
    class="text-lg md:text-2xl font-OpenSauceSans text-gray-800 dark:text-gray-100 tracking-tight font-bold">
    Abhinav Pandey
    </a>


    


    {% set navPages = collections.all | eleventyNavigation %}
    <ul class="flex flex-row content-center my-1 md:my-0 space-x-4 md:space-x-8">
    {% for entry in navPages %}
    <li
    
    {% if entry.url == page.url %} 
    class="text-sm md:text-base uppercase tracking-wide text-fred dark:text-fgreen font-bold font-inter lg:text-xl"
    {% else %} 
        class="text-sm md:text-base uppercase tracking-wide text-gray-600 dark:text-gray-300 md:hover:text-fred  md:hover:dark:text-fgreen font-bold font-inter lg:text-xl"
    {% endif %}>
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
    </li>
    {% endfor %}
    </ul>

    




</header>


</div>






</div>


</div> 